
.header-text{
    width: 50%;
}
.header-img{
    width: 50%;
}
.biography-img{
    width: 50%;
    background-color: red;
}
.biography-text{
    width: 50%;
    background-color: aquamarine;
}
.text-center{
    text-align: center;
}
.peter{
    width: 33.3%;
}
.biography{
    width: 33.3%;
}
.latest-work{
    width: 33.3%;
}